<div id="page4"></div>

<!-- Episode 0016 -->
<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Episode 016</h1>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/udEYsTXGvAo"></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h1>Tracks</h1>
      <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2191780471/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=3250998772/transparent=true/" seamless><a href="http://genesiselijah.bandcamp.com/album/private-moments-in-public">Private Moments In Public by Genesis Elijah</a></iframe>
      <br>
      <br>
      <iframe width="100%" height="272" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/242706549&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div> <!-- end -->

<hr class="articlesplit"></hr>

<!-- Episode 0017 -->
<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Episode 017</h1>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/heIOQhVhy0w"></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h1>Track</h1>
      <iframe width="100%" height="417" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/205084797&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div> <!-- end -->

<hr class="articlesplit"></hr>

<!-- Episode 0018 -->
<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Episode 018</h1>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GhhT-SWasFY"></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h1>Tracks</h1>
      <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/244546096&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      <br><br/>
      <p>Working on getting "Love to Hustle" by Young Americano. If you happen to find the track before I do, shoot me a holler 
        <a href="https://twitter.com/dan_inmotion" target="_blank">@dan_inmotion</a>, thanks!
      </p>
    </div>
  </div>
</div> <!-- end -->

<hr class="articlesplit"></hr>

<br>
<div class="row">
  <div class="text-center">
    <nav>
      <ul class="pagination pagination-lg">
        <li>
          <a href="page3" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><%= link_to "1", root_path %></li>
        <li><a href="page2">2</a></li>
        <li><a href="page3">3</a></li>
        <li><a href="page4">4</a></li>
      </ul>
    </nav>
  </div>
</div>