<div id="page5"></div>

<!-- Episode 0021 -->
<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Episode 021</h1>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8MN6LU2sBEs"></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h1>Tracks</h1>
      <p>Working on getting "It Be Like That" by Trace "LilChief". If you find it before me shoot me quick
        holler on twitter <a href="https://twitter.com/dan_inmotion" target="_blank">@dan_inmotion</a>, thanks!</p>
    </div>
  </div>
</div> <!-- end -->

<br>
<div class="row">
  <div class="text-center">
    <nav>
      <ul class="pagination pagination-lg">
        <li>
          <a href="page4" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><%= link_to "1", root_path %></li>
        <li><a href="page2">2</a></li>
        <li><a href="page3">3</a></li>
        <li><a href="page4">4</a></li>
        <li><a href="page5">5</a></li>
      </ul>
    </nav>
  </div>
</div>