<div id="page3"></div>

<!-- Episode 0011 -->
<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Episode 011</h1>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6ldZbleYWO4"></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h1>Track</h1>
      <iframe width="100%" height="417" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179382264&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div> <!-- end -->

<hr class="articlesplit"></hr>

<!-- Episode 0012 -->
<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Episode 012</h1>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9FtLnj-te7M"></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h1>Track</h1>
      <iframe width="100%" height="417" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/191079622&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div> <!-- end -->

<hr class="articlesplit"></hr>

<!-- Episode 0013 -->
<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Episode 013</h1>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l_1xmIyvT38"></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h1>Tracks</h1>
      <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2191780471/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=1258583451/transparent=true/" seamless><a href="http://genesiselijah.bandcamp.com/album/private-moments-in-public">Private Moments In Public by Genesis Elijah</a></iframe>
      <br>
      <br>
      <iframe width="100%" height="272" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/174110749&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div> <!-- end -->

<hr class="articlesplit"></hr>

<!-- Episode 0014 -->
<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Episode 014</h1>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gtQXR-2k5bA"></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h1>Tracks</h1>
      <p>Working on getting "Space" by MadReal.</p>
      <iframe width="100%" height="377" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/242705958&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div> <!-- end -->

<hr class="articlesplit"></hr>

<!-- Episode 0015 -->
<div class="row">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Episode 015</h1>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WTTuj8Ynrn0"></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h1>Tracks</h1>
      <p>Working on getting "Cinematic FDP" by Forest Door, and "Endure It Well" (instrumental) by Jessica Frech.</p>
      <iframe width="100%" height="348" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/239319842&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div> <!-- end -->

<hr class="articlesplit"></hr>

<br>
<div class="row">
  <div class="text-center">
    <nav>
      <ul class="pagination pagination-lg">
        <li>
          <a href="page2" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><%= link_to "1", root_path %></li>
        <li><a href="page2">2</a></li>
        <li><a href="page3">3</a></li>
        <li><a href="page4">4</a></li>
        <li>
          <a href="page4" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>