<div class="text-center">
  <nav>
    <ul class="pagination pagination-lg">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><%= link_to "1", root_path %></li>
      <li><a href="page2">2</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>